.ideas {
	overflow: auto;
    background: #756f6f;
}

.idea {
	float: left;
    margin: 25px 25px 50px 25px;
    width: 315px;
}

.idea-image {
	background-size: cover;
    height: 190px;
    border: 3px solid #FFF;
    background-image: url(img/test.jpg);
    margin: 0 0 15px 0;
}

.idea-title {
	color: #e63a74;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'bebas_neueregular';
    margin-bottom: 10px;
}

.idea-description {
	line-height: 25px;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 15px;
}

.idea-button {
	color: #FFF;
	background-color: #e63a74;
	border-radius: 5px;
	padding: 8px 30px;
	font-family: 'bebas_neueregular';
	text-decoration: none;
	font-size:20px;
}