* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial;
}

p {
	line-height: 25px;
    margin-bottom: 25px;
    color: #FFF;
    font-size: 15px;
}

.container {
	width: 1100px;
	margin:0 auto;
	/*overflow: auto;*/
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'bebas_neueregular';
	color: #e63a74;
}

.button {
	color: #FFF;
	background-color: #e63a74;
	border-radius: 5px;
	padding: 8px 30px;
	font-family: 'bebas_neueregular';
	text-decoration: none;
	font-size:20px;
}

.button:hover {
	border: 2px solid #FFF;
	padding: 6px 28px;
}
