.participate-content {
    background: black;
    padding: 50px 0;
    overflow: auto;
}

/* Form */
form.participate-form {
    height: 287px;
    position: relative;
}
    
input[type="text"] {
    float: left;
    width: 30%;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.participate-form textarea {
    float: left;
    width: 63%;
    height: 100px;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.participate-form .upload {
    width: 255px;
    float: right;
    background-color: #FFF;
    margin-right: 35px;
    padding: 10px 0 0 10px;
    border-radius: 5px;
    height: 30px;
}

.submit-button {
    color: #FFF;
    background-color: #e63a74;
    border-radius: 5px;
    padding: 8px 30px;
    font-family: 'bebas_neueregular';
    text-decoration: none;
    font-size:20px;
     bottom: 0;
    position: absolute;
    right: 34px;
    border:none;
}

.submit-button:hover {
    border: 2px solid #FFF;
    padding: 6px 28px;
}