.banner {
	height: 400px;
    position: relative;
    background-size: cover;
}

.banner-inner {
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'bebas_neueregular';

	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-title {
	text-align: center;
	color:#FFF;
}

.banner-subtitle {
	text-align: center;
	background: #000;
	color: #FFF;
	opacity: 0.8;
}