.participate-banner {
	height: 400px;
    position: relative;
    background-size: cover;
    background-position-y: -140px;
}

.participate-banner-inner {
	text-transform: uppercase;
	font-family: 'bebas_neueregular';
    width: 820px;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.participate-left .idea-image {
    height: 280px;
}

.participate-left {
    float: left;
    width: 400px;
}

.participate-right {
    float: left;
    width: 400px;
    margin-left: 20px;
}