.register-form {
	overflow: auto;
    /*background: #756f6f;*/
    min-height: 600px;   
    padding: 100px 0;
}

.register-form-wrapper {
	background-color: #FFF;
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}

/* Form */   
.register-form-wrapper h1 {
	margin-bottom: 25px;
}

.register-form-wrapper input {
    float: left;
    width: 28%;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid #e63a74;
}

.register-button {
    color: #FFF;
    background-color: #e63a74;
    border-radius: 5px;
    padding: 8px 30px;
    font-family: 'bebas_neueregular';
    text-decoration: none;
    font-size:20px;
    border:none;
    cursor: pointer;
    margin-top: 30px;
}