.detail-banner {
	height: 580px;
    position: relative;
    background-size: cover;
    background-position-y: -140px;
}

.detail-banner-inner {
	text-transform: uppercase;
	font-family: 'bebas_neueregular';

	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail-banner-title {
	text-align: center;
	color:#FFF;
	font-size: 80px;
}

.detail-banner-subtitle {
	font-size: 50px;
    padding: 0px 85px;
    text-align: center;
    background: #000;
    color: #FFF;
    opacity: 0.8;
}