.gamerules {
    background: black;
    padding: 30px 0;
    overflow: auto;
}

.item {
    border-bottom: 2px solid #d2cdcd;
    float: left;
    padding: 30px 0;
}

.item-sidebar {
    float: right;
    width: 30%;
}

.item-text {
    width: 65%;
    color: #FFF;
    text-align: justify;
    margin-bottom: 35px;
    float: left;
}

.idea-image {
    background-size: cover;
    height: 190px;
    border: 3px solid #FFF;
    background-image: url(img/test.jpg);
    margin: 0 0 15px 0;
}