.login-form {
	overflow: auto;
    /*background: #756f6f;*/
    min-height: 600px;   
    padding: 100px 0;
}

.form-wrapper {
	background-color: #FFF;
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
}

/* Form */   
.form-wrapper h1 {
	margin-bottom: 25px;
}

input {
    float: left;
    width: 30%;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid #e63a74;
}

.login-button {
    color: #FFF;
    background-color: #e63a74;
    border-radius: 5px;
    padding: 8px 30px;
    font-family: 'bebas_neueregular';
    text-decoration: none;
    font-size:20px;
    border:none;
}

.login-button:hover {
    border: 2px solid #FFF;
    padding: 6px 28px;
}