.detail-content {
    background: grey;
    padding: 50px 0;
    overflow: auto;
}

.content-sidebar {
    margin-right: 70px;
    float: left;
    width: 300px;
}

.content {
    width: 730px;
    float: left;   
}

.content-inner {
    /* Divide the text in columns */
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    /* Create gap between the columns */
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

    color: #FFF;
    text-align: justify;
    margin-bottom: 35px;
}

.idea-image {
    background-size: cover;
    height: 190px;
    border: 3px solid #FFF;
    background-image: url(img/test.jpg);
    margin: 0 0 15px 0;
}