nav {
	background-color: #e63a74;
	height: 65px;
    line-height: 65px;
}

.logo {
	background-image: url('../../img/logo.png');
	width: 100px;
	height: 51px;
	float:left;
	margin-top: 6px;
}

nav ul {
	float: right;
}

nav ul li {
	float: left;
	list-style: none;
	text-transform: uppercase;
}

nav ul li a {
	color: #FFF;
	text-decoration: none;
	margin: 0 10px;
	font-family: 'bebas_neueregular';
	font-size: 30px;
}

nav ul li:hover a {
	border-bottom: 2px solid #FFF;
}